################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LexisNexisTakeHomeTest/appsettings.Development.json
/LexisNexisTakeHomeTest/appsettings.json
