@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Alex's Recipe App</h1>
    <p>
        This recipe application has been created as a part of my take-home assignment for LexisNexis.
        It allows users to easily create, edit, and manage their favorite recipes with various features such as adding images, ingredients, and step-by-step instructions.
        You can also browse through the existing recipes and apply filters to find the perfect dish to try next.
    </p>
</div>