@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for visiting our Recipe App. We prioritize our interests above all else. Consequently, your privacy is entirely disregarded.</p>

<p>By using this platform, you acknowledge and consent to our unfettered exploitation of your personal information. Be prepared for the resale of your data to the highest bidder, and even the lowest bidder. In essence, everyone will have your data.</p>

<p>Should you choose to proceed with our service, we commend your audacity and indifference to your own privacy. After all, why expect confidentiality in a world where everything is commoditized?</p>